.widget_coders_mediascroll .image-scroller{
    overflow: hidden;
}
.widget_coders_mediascroll .image-scroller .wrapper{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}
.widget_coders_mediascroll .image-scroller .wrapper > img{
    position: relative;
}
/*HORIZONTAL*/
.widget_coders_mediascroll .image-scroller.horizontal{
    max-width: 100%;
    height: 80px;
    
}
.widget_coders_mediascroll .image-scroller.horizontal > .wrapper{
    width: 300%;
    height: 100%;
    left: 0;
    top: 0;
}
.widget_coders_mediascroll .image-scroller.horizontal .wrapper > img{
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: 100%;
}
/*VERTICAL*/
.widget_coders_mediascroll .image-scroller.vertical{
    height: 200px;
    width: 100%;
}
.widget_coders_mediascroll .image-scroller.vertical > .wrapper{
    position: relative;
    height: 300%;
    left: 0;
    right: 0;
    top: 0;
}
.widget_coders_mediascroll .image-scroller.vertical .wrapper > img{
    display: block;
    height: auto;
}