.coders_post_slideshow_widget{
    position: relative;
    min-height: 400px;
}
/*slides*/
.coders_post_slideshow_widget .slideshow-container{ width: 100%; }
/*Movido a mediaqueries*/
.coders_post_slideshow_widget .slideshow-container li.slide{
    display: block;
    overflow-y: hidden;
}
.coders_post_slideshow_widget .slideshow-container li.slide .slide-content{
    height: 100%;
    padding: 80px;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
}
.coders_post_slideshow_widget .slideshow-container li.slide .slide-content .slide-title{
    margin: 0;
    padding: 20px 0;
    font-size: 64px;
    font-weight: 200;
}
.coders_post_slideshow_widget .navigator{ }
.coders_post_slideshow_widget .navigator > .nav{
    font-weight: bold;
    position: absolute;
    bottom: 45%;
    
    display: block;
    width: 48px;
    height: 48px;

    text-align: center;

    border-radius: 50%;
    background-color: rgba(255,255,255,0.25);
}
.coders_post_slideshow_widget .navigator .nav{
    font-family: 'Font Awesome';
    padding: 0;
}
.coders_post_slideshow_widget .navigator .nav:before{
    text-align: center;
    padding: 16px 0;
    display: block;
    font-weight: 200;
    font-family: 'Font Awesome';
}
.coders_post_slideshow_widget .navigator .nav.prev{ left: 20px; }
.coders_post_slideshow_widget .navigator .nav.prev:before{ content: '\f053'; }

.coders_post_slideshow_widget .navigator .nav.next{ right: 20px; }
.coders_post_slideshow_widget .navigator .nav.next:before{ content: '\f054'; }

/*paginación*/
.coders_post_slideshow_widget .paginator{
    position: absolute;
    bottom: 32px; left: 0; right: 0;

    width: auto;
    margin: 0 auto;
    padding: 0 0 20px;
    text-align: center;
}
.coders_post_slideshow_widget .paginator > .page{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
}
.coders_post_slideshow_widget .paginator > .page:not(:last-child){ margin-right: 10px; }
.coders_post_slideshow_widget{ color: #000000; }
.coders_post_slideshow_widget h1{ color: #000000; }


/*Mediaqueries ( desactivar efecto slide en resoluciones menores)*/
@media only screen and (min-width: 768px){
    .coders_post_slideshow_widget { overflow: hidden; }
    .coders_post_slideshow_widget .slideshow-container{
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    .coders_post_slideshow_widget .slideshow-container li.slide{
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        transition: ease-out 950ms;
        opacity: 0;
    }
    .coders_post_slideshow_widget .slideshow-container li.slide.current{ opacity: 1; }
    
    .coders_post_slideshow_widget .slideshow-container li.slide > .slide-media{
        width: 100%;
        height: auto;
        /* min-height: 100%; */
    }
}
@media only screen and (max-width: 767px){
    .coders_post_slideshow_widget { background-color: #000; }
    .coders_post_slideshow_widget .slideshow-container li.slide{
        transition: ease-out 250ms;
    }
    .coders_post_slideshow_widget .slideshow-container li.slide > .slide-media{
        width: 100%;
        height: auto;
    }
}
@media only screen and (min-width:768px){
    .coders_post_slideshow_widget .slideshow-container li.slide{
        opacity: 0;
    }
    .coders_post_slideshow_widget .slideshow-container li.slide.current{
        opacity: 1;
    }
}
@media only screen and (max-width:767px){
    .coders_post_slideshow_widget .slideshow-container li.slide{ opacity: 0.85; }
    .coders_post_slideshow_widget .slideshow-container li.slide:active,
    .coders_post_slideshow_widget .slideshow-container li.slide:hover{ opacity: 1; }
}
@media only screen and (min-width: 480px) and (max-width:767px){
    .coders_post_slideshow_widget .slideshow-container li.slide{ height: 320px; }
    .coders_post_slideshow_widget .slideshow-container li.slide > .slide-media{ min-height: 320px; }
}
@media only screen and (min-width: 400px) and (max-width:479px){
    .coders_post_slideshow_widget .slideshow-container li.slide{ height: 240px; }
    .coders_post_slideshow_widget .slideshow-container li.slide > .slide-media{ min-height: 240px; }
}
@media only screen and (max-width: 399px){
    .coders_post_slideshow_widget .slideshow-container li.slide{ height: 200px; }
    .coders_post_slideshow_widget .slideshow-container li.slide > .slide-media{ min-height: 200px; }
}


